In [63]:
import pandas as pd
import numpy as np
import random
from catboost import CatBoostRanker, Pool, MetricVisualizer
from copy import deepcopy

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [64]:


def featurize_df(df:pd.DataFrame) ->pd.DataFrame:
    """
    Extract more features
    """
    df["weekday"] = df["date_time"].dt.weekday
    df["week_of_year"] = df["date_time"].dt.isocalendar().week

    df["hour"] = df["date_time"].dt.hour
    df["minute"] = df["date_time"].dt.minute
    ## total time elapsed - allows model to learn continous trend over time to a degree
    df["time_epoch"] = df["date_time"].astype('int64')//1e9
    ## if we were looking at fraud: df["seconds"] = df.timestamp.dt.second
    df["early_night"] = ((df["hour"]>19) | (df["hour"]<3)) # no added value from feature
    
    df["nans_count"] = df.isna().sum(axis=1)
    
    ## we won't make any time series features for now
    ## We could add time series features per property/hotel. We'd need to check for unaries, and to add a shift/offset dependant on forecast horizon

    return df

In [65]:
HotelSearch_train=pd.read_csv("./data/HotelSearch_train_sampled.csv", index_col=0)
HotelSearch_test=pd.read_csv("./data/HotelSearch_test_sampled.csv", index_col=0)



#print(HotelSearch_orig['booking_bool'].unique())
HotelSearch_train["date_time"] = pd.to_datetime(HotelSearch_train["date_time"],infer_datetime_format=True)
#HotelSearch_train["target"] = HotelSearch_train.apply(get_target,axis=1)

HotelSearch_test["date_time"] = pd.to_datetime(HotelSearch_test["date_time"],infer_datetime_format=True)
#HotelSearch_test["target"] = HotelSearch_test.apply(get_target,axis=1)

HotelSearch_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98361 entries, 0 to 98360
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   srch_id                      98361 non-null  int64
 1   date_time                    98361 non-null  datetime64[ns]
 2   site_id                      98361 non-null  int64
 3   visitor_location_country_id  98361 non-null  int64
 4   visitor_hist_starrating      4699 non-null   float64
 5   visitor_hist_adr_usd         4724 non-null   float64
 6   prop_country_id              98361 non-null  int64
 7   prop_id                      98361 non-null  int64
 8   prop_starrating              98361 non-null  int64
 9   prop_review_score            98201 non-null  float64
 10  prop_brand_bool              98361 non-null  int64
 11  prop_location_score1         98361 non-null  float64
 12  prop_location_score2         76699 non-null  float64
 13  prop_log_historical_price    98361 non-null  float64
 14  position                     98361 non-null  int64
 15  price_usd                    98361 non-null  float64
 16  promotion_flag               98361 non-null  int64
 17  srch_destination_id          98361 non-null  int64
 18  srch_length_of_stay          98361 non-null  int64
 19  srch_booking_window          98361 non-null  int64
 20  srch_adults_count            98361 non-null  int64
 21  srch_children_count          98361 non-null  int64
 22  srch_room_count              98361 non-null  int64
 23  srch_saturday_night_bool     98361 non-null  int64
 24  srch_query_affinity_score    6427 non-null   float64
 25  orig_destination_distance    65843 non-null  float64
 26  random_bool                  98361 non-null  int64
 27  comp1_rate                   2370 non-null   float64
 28  comp1_inv                    2543 non-null   float64
 29  comp1_rate_percent_diff      1855 non-null   float64
 30  comp2_rate                   40851 non-null  float64
 31  comp2_inv                    42966 non-null  float64
 32  comp2_rate_percent_diff      11324 non-null  float64
 33  comp3_rate                   31614 non-null  float64
 34  comp3_inv                    34023 non-null  float64
 35  comp3_rate_percent_diff      9649 non-null   float64
 36  comp4_rate                   6491 non-null   float64
 37  comp4_inv                    7206 non-null   float64
 38  comp4_rate_percent_diff      2642 non-null   float64
 39  comp5_rate                   44794 non-null  float64
 40  comp5_inv                    47705 non-null  float64
 41  comp5_rate_percent_diff      16817 non-null  float64
 42  comp6_rate                   4994 non-null   float64
 43  comp6_inv                    5457 non-null   float64
 44  comp6_rate_percent_diff      1936 non-null   float64
 45  comp7_rate                   6645 non-null   float64
 46  comp7_inv                    7468 non-null   float64
 47  comp7_rate_percent_diff      2959 non-null   float64
 48  comp8_rate                   37530 non-null  float64
 49  comp8_inv                    38897 non-null  float64
 50  comp8_rate_percent_diff      11960 non-null  float64
 51  click_bool                   98361 non-null  int64
 52  gross_bookings_usd           2801 non-null   float64
 53  booking_bool                 98361 non-null  int64
 54  target                       98361 non-null  int64
dtypes: datetime64[ns](1), float64(34), int64(20)
memory usage: 42.0 MB

In [66]:
drop_cols=[]
drop_unary_cols = [c for c in list(HotelSearch_train)
    if HotelSearch_train[c].nunique(dropna=False) <= 1]
drop_unary_cols
target_cols = ["gross_bookings_usd","click_bool","booking_bool","Unnamed: 0"] # leaky column, and original target columns
drop_cols.extend(drop_unary_cols)
drop_cols.extend(target_cols) 

HotelSearch_train = HotelSearch_train.drop(columns=drop_cols,errors="ignore")
HotelSearch_test  = HotelSearch_test.drop(columns=drop_cols,errors="ignore")
print(HotelSearch_train.shape)
print(HotelSearch_test.shape)

(98361, 52)
(147730, 52)

In [67]:
HotelSearch_train = featurize_df(HotelSearch_train)
HotelSearch_test = featurize_df(HotelSearch_test)
HotelSearch_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147730 entries, 0 to 147729
Data columns (total 59 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   srch_id                      147730 non-null  int64
 1   date_time                    147730 non-null  datetime64[ns]
 2   site_id                      147730 non-null  int64
 3   visitor_location_country_id  147730 non-null  int64
 4   visitor_hist_starrating      7770 non-null    float64
 5   visitor_hist_adr_usd         7801 non-null    float64
 6   prop_country_id              147730 non-null  int64
 7   prop_id                      147730 non-null  int64
 8   prop_starrating              147730 non-null  int64
 9   prop_review_score            147499 non-null  float64
 10  prop_brand_bool              147730 non-null  int64
 11  prop_location_score1         147730 non-null  float64
 12  prop_location_score2         116628 non-null  float64
 13  prop_log_historical_price    147730 non-null  float64
 14  position                     147730 non-null  int64
 15  price_usd                    147730 non-null  float64
 16  promotion_flag               147730 non-null  int64
 17  srch_destination_id          147730 non-null  int64
 18  srch_length_of_stay          147730 non-null  int64
 19  srch_booking_window          147730 non-null  int64
 20  srch_adults_count            147730 non-null  int64
 21  srch_children_count          147730 non-null  int64
 22  srch_room_count              147730 non-null  int64
 23  srch_saturday_night_bool     147730 non-null  int64
 24  srch_query_affinity_score    9108 non-null    float64
 25  orig_destination_distance    98669 non-null   float64
 26  random_bool                  147730 non-null  int64
 27  comp1_rate                   3696 non-null    float64
 28  comp1_inv                    3940 non-null    float64
 29  comp1_rate_percent_diff      2892 non-null    float64
 30  comp2_rate                   60786 non-null   float64
 31  comp2_inv                    63943 non-null   float64
 32  comp2_rate_percent_diff      16598 non-null   float64
 33  comp3_rate                   45930 non-null   float64
 34  comp3_inv                    49557 non-null   float64
 35  comp3_rate_percent_diff      14168 non-null   float64
 36  comp4_rate                   9345 non-null    float64
 37  comp4_inv                    10396 non-null   float64
 38  comp4_rate_percent_diff      3985 non-null    float64
 39  comp5_rate                   66135 non-null   float64
 40  comp5_inv                    70180 non-null   float64
 41  comp5_rate_percent_diff      24933 non-null   float64
 42  comp6_rate                   7002 non-null    float64
 43  comp6_inv                    7605 non-null    float64
 44  comp6_rate_percent_diff      2834 non-null    float64
 45  comp7_rate                   9588 non-null    float64
 46  comp7_inv                    10821 non-null   float64
 47  comp7_rate_percent_diff      4184 non-null    float64
 48  comp8_rate                   57519 non-null   float64
 49  comp8_inv                    59736 non-null   float64
 50  comp8_rate_percent_diff      18292 non-null   float64
 51  target                       147730 non-null  int64
 52  weekday                      147730 non-null  int64
 53  week_of_year                 147730 non-null  UInt32
 54  hour                         147730 non-null  int64
 55  minute                       147730 non-null  int64
 56  time_epoch                   147730 non-null  float64
 57  early_night                  147730 non-null  bool
 58  nans_count                   147730 non-null  int64
dtypes: UInt32(1), bool(1), datetime64[ns](1), float64(34), int64(22)
memory usage: 66.2 MB

In [68]:
HotelSearch_train.drop(['comp3_rate',
       'comp3_inv', 'comp3_rate_percent_diff', 'comp4_inv', 'comp5_rate',
       'comp5_inv', 'comp5_rate_percent_diff', 'comp8_rate', 'comp8_inv',
       'comp8_rate_percent_diff'],axis=1).groupby(HotelSearch_train["target"]>0).mean()
HotelSearch_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98361 entries, 0 to 98360
Data columns (total 59 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   srch_id                      98361 non-null  int64
 1   date_time                    98361 non-null  datetime64[ns]
 2   site_id                      98361 non-null  int64
 3   visitor_location_country_id  98361 non-null  int64
 4   visitor_hist_starrating      4699 non-null   float64
 5   visitor_hist_adr_usd         4724 non-null   float64
 6   prop_country_id              98361 non-null  int64
 7   prop_id                      98361 non-null  int64
 8   prop_starrating              98361 non-null  int64
 9   prop_review_score            98201 non-null  float64
 10  prop_brand_bool              98361 non-null  int64
 11  prop_location_score1         98361 non-null  float64
 12  prop_location_score2         76699 non-null  float64
 13  prop_log_historical_price    98361 non-null  float64
 14  position                     98361 non-null  int64
 15  price_usd                    98361 non-null  float64
 16  promotion_flag               98361 non-null  int64
 17  srch_destination_id          98361 non-null  int64
 18  srch_length_of_stay          98361 non-null  int64
 19  srch_booking_window          98361 non-null  int64
 20  srch_adults_count            98361 non-null  int64
 21  srch_children_count          98361 non-null  int64
 22  srch_room_count              98361 non-null  int64
 23  srch_saturday_night_bool     98361 non-null  int64
 24  srch_query_affinity_score    6427 non-null   float64
 25  orig_destination_distance    65843 non-null  float64
 26  random_bool                  98361 non-null  int64
 27  comp1_rate                   2370 non-null   float64
 28  comp1_inv                    2543 non-null   float64
 29  comp1_rate_percent_diff      1855 non-null   float64
 30  comp2_rate                   40851 non-null  float64
 31  comp2_inv                    42966 non-null  float64
 32  comp2_rate_percent_diff      11324 non-null  float64
 33  comp3_rate                   31614 non-null  float64
 34  comp3_inv                    34023 non-null  float64
 35  comp3_rate_percent_diff      9649 non-null   float64
 36  comp4_rate                   6491 non-null   float64
 37  comp4_inv                    7206 non-null   float64
 38  comp4_rate_percent_diff      2642 non-null   float64
 39  comp5_rate                   44794 non-null  float64
 40  comp5_inv                    47705 non-null  float64
 41  comp5_rate_percent_diff      16817 non-null  float64
 42  comp6_rate                   4994 non-null   float64
 43  comp6_inv                    5457 non-null   float64
 44  comp6_rate_percent_diff      1936 non-null   float64
 45  comp7_rate                   6645 non-null   float64
 46  comp7_inv                    7468 non-null   float64
 47  comp7_rate_percent_diff      2959 non-null   float64
 48  comp8_rate                   37530 non-null  float64
 49  comp8_inv                    38897 non-null  float64
 50  comp8_rate_percent_diff      11960 non-null  float64
 51  target                       98361 non-null  int64
 52  weekday                      98361 non-null  int64
 53  week_of_year                 98361 non-null  UInt32
 54  hour                         98361 non-null  int64
 55  minute                       98361 non-null  int64
 56  time_epoch                   98361 non-null  float64
 57  early_night                  98361 non-null  bool
 58  nans_count                   98361 non-null  int64
dtypes: UInt32(1), bool(1), datetime64[ns](1), float64(34), int64(22)
memory usage: 44.1 MB

In [69]:
cutoff_id = HotelSearch_train["srch_id"].quantile(0.94) # 90/10 split

X_train_df=HotelSearch_train.loc[HotelSearch_train.srch_id< cutoff_id].drop(["target","date_time"],axis=1)
X_eval_df = HotelSearch_train.loc[HotelSearch_train.srch_id>= cutoff_id].drop(["target","date_time"],axis=1)
X_test_df=HotelSearch_test.drop(["target","date_time"],axis=1)

feature_cols=X_train_df.columns.tolist()
# X_train_df=HotelSearch_train.loc[HotelSearch_train.srch_id< cutoff_id]
# X_eval_df = HotelSearch_train.loc[HotelSearch_train.srch_id>= cutoff_id]

y_train_df = HotelSearch_train.loc[HotelSearch_train.srch_id< cutoff_id]["target"].astype(float)
y_eval_df = HotelSearch_train.loc[HotelSearch_train.srch_id>= cutoff_id]["target"].astype(float)
y_test_df = HotelSearch_test["target"].astype(float)

X_train = X_train_df.values
X_eval = X_eval_df.values
X_test= X_test_df.values
queries_train = X_train_df["srch_id"].values

y_train = y_train_df.values
y_eval = y_eval_df.values
y_test = y_test_df.values

queries_test = X_eval_df["srch_id"].values



max_relevance = float(np.max(y_train))
y_train /= max_relevance
y_eval /= max_relevance
y_train_df.value_counts()

0.0    89823
1.0     2628
Name: target, dtype: int64

In [70]:
print("mean relevancy train",round(y_train.mean(),4))
print("mean relevancy eval",round(y_eval.mean(),4))
print(y_eval_df.value_counts()) # check we have all 3 "labels" in subset

mean relevancy train 0.0284
mean relevancy eval 0.0293
0.0    5737
1.0     173
Name: target, dtype: int64

In [71]:
HotelSearch_train['target'].value_counts()

0    95560
1     2801
Name: target, dtype: int64

In [72]:
categorical_cols = ['prop_id',"srch_destination_id", "weekday"] # ,"week_of_year"

In [73]:
X_train_df.shape

(92451, 57)

In [74]:
#set(X_train.columns).symmetric_difference(set(HotelSearch_test.columns))
train_pool = Pool(data=X_train,
                  label = y_train,
#                  cat_features=categorical_cols,
                  group_id=queries_train
                 )

eval_pool = Pool(data=X_eval,
                  label = y_eval,
#                  cat_features=categorical_cols,
                  group_id=queries_test
                 )

In [75]:
default_parameters  = {
    'iterations': 2000,
    'custom_metric': ['NDCG', "AUC:type=Ranking",'PrecisionAt:top=10', 'RecallAt:top=10', 'MAP:top=10'], # , 'AverageGain:top=3'# 'QueryRMSE', "YetiLoss" (use with hints)
    'verbose': False,
    'random_seed': 42,
#     "task_type":"GPU",
#    "has_time":True,
    "metric_period":4,
    "save_snapshot":False,
    "use_best_model":True, # requires eval set to be set
} 

parameters = {}

In [76]:
def fit_model(loss_function, prediction_function, feature_cols,X_train,y_train,X_test,y_test,additional_params=None, train_pool=train_pool, test_pool=eval_pool):
    parameters = deepcopy(default_parameters)
    parameters['loss_function'] = loss_function
    parameters['train_dir'] = loss_function
    
    if additional_params is not None:
        parameters.update(additional_params)
    print("best results (train on train):") 
    print(parameters) 

    model = CatBoostRanker(**parameters)
    model.fit(train_pool, eval_set=test_pool, plot=True)
    print("best results (train on train):")
    print(model.get_best_score()["learn"])
    print("best results (on validation set):")
    print(model.get_best_score()["validation"])

#Training predictions
    y_train_predictions = prediction_function(model, X_train)
    training_predictions = pd.DataFrame(X_train,columns=feature_cols)
    training_predictions['ActualRelevancy'] = y_train
    training_predictions['PredictedRelevancy'] = y_train_predictions

    
#Test predictions
    y_test_predictions = prediction_function(model, X_test)
    test_predictions = pd.DataFrame(X_test,columns=feature_cols)
    test_predictions['ActualRelevancy'] = y_test
    test_predictions['PredictedRelevancy'] = y_test_predictions

#     print("(Default) Feature importance (on train pool)")
#     display(model.get_feature_importance(data=train_pool,prettified=True).head(15))
    
#     try:
#         print("SHAP features importance, on all data:")
#         explainer = shap.TreeExplainer(model)
#         shap_values = explainer.shap_values(pd.concat([X_train,X_eval]),
#                                             y=pd.concat([y_train,y_eval]))

#         # # summarize the effects of all the features
#         shap.summary_plot(shap_values, pd.concat([X_train,X_eval]))
#    finally:
    return model, training_predictions , test_predictions

In [77]:
def get_predicted_outcome(model, data):
    a=model.predict(data)
    print(a)
#    print(np.argmax(model.predict_proba(data), axis=1).astype(np.float32))
#    return np.argmax(model.predict_proba(data), axis=1).astype(np.float32)
    return model.predict(data)

In [78]:
#model = fit_model('RMSE', {'custom_metric': ['PrecisionAt:top=10', 'RecallAt:top=10', 'MAP:top=10']})
model,training_predictions, test_predictions = fit_model('QueryRMSE',get_predicted_outcome,feature_cols,X_train,y_train,X_test,y_test)

best results (train on train):
{'iterations': 2000, 'custom_metric': ['NDCG', 'AUC:type=Ranking', 'PrecisionAt:top=10', 'RecallAt:top=10', 'MAP:top=10'], 'verbose': False, 'random_seed': 42, 'metric_period': 4, 'save_snapshot': False, 'use_best_model': True, 'loss_function': 'QueryRMSE', 'train_dir': 'QueryRMSE'}

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

best results (train on train):
{'MAP:top=10': 0.3749653598759312, 'RecallAt:top=10': 0.9305926321409503, 'PrecisionAt:top=10': 0.06688753718251617, 'QueryRMSE': 0.15078627521159718}
best results (on validation set):
{'NDCG:type=Base': 0.6731913314661738, 'MAP:top=10': 0.27197641539746836, 'RecallAt:top=10': 0.8825910931174089, 'PrecisionAt:top=10': 0.0624172611014715, 'QueryRMSE': 0.1618825815349121, 'AUC:type=Ranking': 0.7704485940064544}
[ 0.04345118  0.02383381  0.02788175 ...  0.03189318  0.01272165
 -0.00331631]
[ 0.12221607  0.11785955  0.0549409  ... -0.00774663 -0.0094304
 -0.01216121]

In [79]:
training_predictions["Predictedrank"] = training_predictions.groupby("srch_id")["PredictedRelevancy"].rank("dense", ascending=False)
training_predictions_df=training_predictions.sort_values(by=['srch_id','position'], ascending=True)
training_predictions_df = training_predictions_df.reset_index(drop=True)
training_predictions_df.head()

,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff,comp2_rate,comp2_inv,comp2_rate_percent_diff,comp3_rate,comp3_inv,comp3_rate_percent_diff,comp4_rate,comp4_inv,comp4_rate_percent_diff,comp5_rate,comp5_inv,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,weekday,week_of_year,hour,minute,time_epoch,early_night,nans_count,ActualRelevancy,PredictedRelevancy,Predictedrank
0,71,24,216,NaN,NaN,98,76541,3,3.5,0,2.2,0.0482,3.21,1,16.9,0,341,1,18,1,1,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11,23,14,1363130090.0,True,24,0.0,0.043451,1.0
1,71,24,216,NaN,NaN,98,37933,3,4.0,0,2.08,0.0812,3.59,2,18.34,0,341,1,18,1,1,1,1,NaN,NaN,1,NaN,NaN,NaN,1.0,0.0,46.0,NaN,NaN,NaN,0.0,0.0,NaN,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11,23,14,1363130090.0,True,20,0.0,0.023834,4.0
2,71,24,216,NaN,NaN,98,108588,4,4.0,0,0.0,0.0268,4.08,3,26.78,1,341,1,18,1,1,1,1,NaN,NaN,1,NaN,NaN,NaN,1.0,0.0,108.0,1.0,0.0,32.0,-1.0,0.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11,23,14,1363130090.0,True,17,0.0,0.027882,2.0
3,71,24,216,NaN,NaN,98,28672,3,4.0,0,2.2,0.0151,3.35,4,21.48,0,341,1,18,1,1,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11,23,14,1363130090.0,True,24,0.0,0.007568,9.0
4,71,24,216,NaN,NaN,98,25741,3,3.5,0,1.61,0.0359,4.02,6,19.47,1,341,1,18,1,1,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,1.0,0.0,10.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11,23,14,1363130090.0,True,19,0.0,0.004180,13.0

In [80]:
test_predictions["Predictedrank"] = test_predictions.groupby("srch_id")["PredictedRelevancy"].rank("dense", ascending=False)
test_predictions_df=test_predictions.sort_values(by=['srch_id','position'], ascending=True)
test_predictions_df = test_predictions_df.reset_index(drop=True)
test_predictions_df.head()

,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff,comp2_rate,comp2_inv,comp2_rate_percent_diff,comp3_rate,comp3_inv,comp3_rate_percent_diff,comp4_rate,comp4_inv,comp4_rate_percent_diff,comp5_rate,comp5_inv,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,weekday,week_of_year,hour,minute,time_epoch,early_night,nans_count,ActualRelevancy,PredictedRelevancy,Predictedrank
0,246,14,100,NaN,NaN,219,11396,4,5.0,0,0.69,0.0551,5.36,1,159.64,0,18294,1,6,2,0,1,0,NaN,87.17,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,9,55,1362390943.0,False,27,1.0,0.122216,1.0
1,246,14,100,NaN,NaN,219,103885,2,4.0,1,1.1,0.154,4.75,2,98.32,0,18294,1,6,2,0,1,0,NaN,93.87,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,9,55,1362390943.0,False,25,0.0,0.117860,2.0
2,246,14,100,NaN,NaN,219,61167,3,4.5,0,1.1,0.0314,4.87,3,101.24,0,18294,1,6,2,0,1,0,NaN,92.31,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,9,55,1362390943.0,False,25,0.0,0.054941,3.0
3,246,14,100,NaN,NaN,219,95490,2,3.5,1,1.1,0.0142,4.88,4,95.4,0,18294,1,6,2,0,1,0,NaN,89.28,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,9,55,1362390943.0,False,27,0.0,0.013588,6.0
4,246,14,100,NaN,NaN,219,127213,3,4.0,1,1.1,0.1652,4.95,6,119.73,0,18294,1,6,2,0,1,0,NaN,93.97,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,9,55,1362390943.0,False,25,0.0,0.046577,4.0

In [81]:
training_predictions_df.to_csv('./data/hotelsearch_training_predictions.csv')
test_predictions_df.to_csv('./data/hotelsearch_test_predictions.csv')